#dataTable table {
  width: 800px;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: right;
  clear: both;
}

td,
th {
  padding: 8px;
  border: 1px solid #ddd;
}

#read-section {
  margin-top: 20px;
  width: 800px;
}

#create-section {
  margin-top: 20px;
  width: 400px;
}

#read-section button {
  margin-bottom: 20px;
}

#createMessage {
  margin-top: 10px;
}
