.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 35px;
}

#local-storage h3 {
  display: block;
}

#output,
#worker-message {
  padding: 0;
  margin: 0 0 10px 0;
}

#local-storage form,
#login,
#welcome,
.container {
  width: 450px;
}

section {
  margin-bottom: 30px;
}

.container p {
  margin: 0 0 20px 0;
  padding: 0;
}
