.storage-container,
.worker-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}

#local-storage h3 {
  display: block;
}

#output {
  padding: 0 0 20px 0;
  margin: 0;
}

#local-storage form,
#login,
#welcome,
.worker-container {
  width: 450px;
}
